@import './theme/dark.css';
@import './theme/light.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container  {
  background-color: blue;
  max-width: 1110px;
  margin: 0 auto;
}

.pokemonList {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.pokemonCard {
  border: 1px solid red;
  width: 250px;
  height: 500px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: var(--card-background);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}


.pokemonCard > img {
  width: 170px;
  height: 200px;
}

.pagination {
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.infoPokemon{
  width: max-content;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 100px;
  font-size: 22px;
  image-rendering: auto;
}
.img_pokemon img{
  width: 200px;
  height: 250px;
  margin: 0 100px 0 0d;
}
/* MainPage.module.css */

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #388e3c;
}

.button:active {
  background-color: #2e7d32;
}
.paginationButton {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: background-color 0.2s ease-in-out;
}

.paginationButton:hover {
  background-color: #ccc;
}

.paginationButton.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
